/* ===================================================================
CSS information
 file name  :  common.css
 style info :  基本構造（common.css）
 admin info :  Kazuki Goto
=================================================================== */
body {
	background-color:#FFFFFF;
}
@media screen and (min-width: 769px) {
/* PC用のスタイル記述 */
#wrapper {
	width:960px;
	margin:0 auto;
}
#header {
	background-color:#439F7F;
	width:960px;
	height:200px;
	margin-bottom:20px;
	float:left;
}
#header h1 {
	color:#FFFFFF;
}
#main {
	background-color:#9899D0;
	width:960px;
	height:200px;
	margin-bottom:20px;
	float:left;
}
#nav_ph {
	display:none;
}
#nav {
	background-color:#9EAEBD;
	width:940px;
	height:60px;
	margin-bottom:20px;
	padding:10px;
	float:left;
}
#nav ul {
	width:940px;
	height:60px;
}
#nav ul li {
	width:180px;
	height:60px;
	float: left;
	background-color:#B1BECA;
}
.nav01, .nav02, .nav03, .nav04 {
	margin-right:10px;
}
#contents {
	width:960px;
	float:left;
}
#content_left {
	width:750px;
	float:left;
	margin-bottom:20px;
}
.left_box {
	width:750px;
	float:left;
	margin-bottom:10px;
}
.sub_content {
	width:750px;
	float:left;
	background-color:#BFCC76;
	height:130px;
}
.box01, .box02, .box03, .box04, .box05, .box06, .box07, .box08 {
	width:180px;
	height:230px;
	background-color:#2CD1A5;
	float:left;
	margin-bottom:10px;
}
.box01, .box02, .box03, .box05, .box06, .box07 {
	margin-right:10px;
}
#content_right {
	width:190px;
	float:right;
	background-color:#AAB67F;
	margin-bottom:20px;
}
#aside {
	width:190px;
	height:620px;
	float:left;
}
#footer {
	background-color:#439E7F;
	width:960px;
	height:80px;
	float:left;
}
}
@media screen and (max-width: 768px) {
/* タブレット用のスタイル記述 */
#wrapper {
	width:728px;
	margin:0 auto;
}
#header {
	background-color:#439F7F;
	width:728px;
	height:80px;
	margin-bottom:20px;
	float:left;
}
#header h1 {
	color:#FFFFFF;
}
#main {
	background-color:#9899D0;
	width:728px;
	height:160px;
	margin-bottom:20px;
	float:left;
}
#nav_ph {
	display:none;
}
#nav {
	background-color:#9EAEBD;
	width:708px;
	height:60px;
	margin-bottom:20px;
	padding:10px;
	float:left;
}
#nav ul {
	width:708px;
	height:60px;
}
#nav ul li {
	width:133px;
	height:60px;
	float: left;
	background-color:#B1BECA;
}
.nav01, .nav02, .nav03, .nav04 {
	margin-right:10px;
}
#contents {
	width:728px;
	float:left;
}
#content_left {
	width:560px;
	float:left;
}
.left_box {
	width:560px;
	float:left;
	margin-bottom:10px;
}
.sub_content {
	display:none;
}
.box01, .box02, .box03, .box04, .box05, .box06, .box07, .box08 {
	width:180px;
	height:230px;
	background-color:#2CD1A5;
	float:left;
	margin-bottom:10px;
}
.box01, .box02, .box04, .box05, .box07, .box08 {
	margin-right:10px;
}
#content_right {
	width:148px;
	float:right;
	background-color:#AAB67F;
	margin-bottom:20px;
}
#aside {
	width:148px;
	height:710px;
	float:left;
}
#footer {
	background-color:#439E7F;
	width:728px;
	height:80px;
	float:left;
}
}
@media screen and (max-width: 620px) {
/* スマートフォン用のスタイル記述 */
#wrapper {
	width:620px;
}
#header {
	background-color:#439F7F;
	width:100%;
	height:80px;
	margin-bottom:10px;
	float:left;
}
#header h1 {
	color:#FFFFFF;
}
#main {
	background-color:#9899D0;
	width:100%;
	height:200px;
	margin-bottom:10px;
	float:left;
}
#nav {
	display:none;
}
#nav_ph {
	background-color:#9EAEBD;
	width:100%;
	margin-bottom:10px;
	float:left;
	display:block;
}
#nav_ph ul {
	width:100%;
	float:left;
}
#nav_ph ul li {
	width:100%;
	height:35px;
	float: left;
	background-color:#B1BECA;
}
.nav01, .nav02, .nav03, .nav04 {
	margin-bottom:1px;
}
#contents {
	width:100%;
	float:left;
	margin-bottom:10px;
}
#content_left {
	width:100%;
	float:left;
	margin-bottom:10px;
}
.left_box {
	float:left;
	width: 100%;
	margin-bottom:0px;
}
.sub_content {
	display:none;
}
.box01, .box02, .box03, .box04, .box05, .box06, .box07, .box08 {
	width:180px;
	height:230px;
	background-color:#2CD1A5;
	float:left;
	margin-bottom:10px;
}
.box01, .box02, .box04, .box05, .box07, .box08 {
	margin-right:10px;
}
#content_right {
	width:100%;
	float:left;
	background-color:#AAB67F;
	margin-bottom:0px;
}
#aside {
	width:100%;
	height:480px;
	float:left;
	margin-bottom:10px;
}
#footer {
	background-color:#439E7F;
	width:100%;
	height:80px;
	float:left;
}
}